@mixin mobile-image-view {
  height: calc(100% - 150px);
  text-align: center;
  padding: 10px 0;

  img {
    height: 100%;
  }
}

.cart-container {
  height: 160px;
  .cart-height {
    height: 300px;

    .mobile-image {
      @include mobile-image-view();
    }
  }
}

.cart-header {
    background: #f0f0f0;
    padding: 5px;
    border-radius: 5px;

}
.cart-body {
    padding: 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.185);
    border-radius: 5px;
}

.grand-total {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px;
}

@media (max-width: 768px) {
  .cart-header{
    display: none !important;
  }
}

