.price-filter {
    width: 250px;
    padding: 10px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.185);
    background: white;
}

.filter-icon {
    align-self: flex-end;
    display: flex;
    align-items: center;
}

.filtering-tag {
    align-self: flex-end;
    font-size: 11px;
    border: 1px solid lightgray;
    border-radius: 7px;
    padding: 5px;
}