nav {
  height: 40px;
  width: 100%;
  box-shadow: 1px 1px 5px #00000038;

  .nav-container {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: space-between;
    max-width: 1032px;
    margin: 0 auto;
    padding: 0 20px;

    .link-nav {
      display: flex;
      align-items: center;

      img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
      }

      a {
        color: gray;
        cursor: pointer;

        &:hover {
          text-decoration: none;
          opacity: 0.8;
        }
      }
    }
  }
}
