nav {
    height: 40px;
    width: 100%;
    box-shadow: 1px 1px 5px #0000006b;
}

nav .nav-container {
  align-items: center;
  display: flex;
  height: inherit;
  justify-content: space-between;
  max-width: 1032px;
  margin: 0 auto;
}

nav .nav-container img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
